# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv*/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage*
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# Environment / secrets
.env
.env.*

# IDEs / Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
